@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

body {
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

.span-bold {
    font-weight: bold;
}

.span-italic {
    font-style: italic;
}

caption {
    caption-side: top;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 64px;
    width: 100%;
    background-color: #fff;
    z-index: 3;
}